<launch>
	<!--node name="drivingDriver" pkg="glados" type="drivingDriver" output="screen" respawn="false">
		<param name="motor_port" value="motor_comm"/>
		<param name="motor_config" value="/home/ubuntu/robotica-minor-5/turtleCode/src/glados/cfg/wheels.xml"/>
		<param name="wheel_diameter" value="0.295"/>
		<param name="wheel_base" value="0.54"/>
	</node>

	<node name="motor_comm" pkg="shared_serial" type="server" output="screen">
		<param name="port_name" value="/dev/ttyUSB0"/>
		<param name="port_type" value="RS485_FTDI"/>
		<param name="baud_rate" value="921600"/>
	</node-->

	<node name="launchDriver" pkg="glados" type="launchDriver" output="screen">
	<!-- dingen -->
	</node>

	<node name="launchManager" pkg="glados" type="launchManager" output="screen">
	</node>

	<node name="conveyorDriver" pkg="glados" type="conveyorDriver" output="screen">
	</node>

	<node name="serialListener" pkg="glados" type="serialListener" output="screen">
	</node>

</launch>
